<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    This is Manually Dependency Injection
	
    <bean class="in.sp.beans.Address" id="addrId">
        <property name="houseNo" value = "385"></property>
        <property name="city" value = "Burhanpur"></property>
        <property name="pincode" value = "450331"></property>
    </bean>

    <bean class="in.sp.beans.Student" id="stuId">
        <property name="name" value = "Harshal"></property>
        <property name="rollNo" value = "101"></property>
        <property name="address" ref = "addrId"></property> 
    </bean>
    
    
-->
	
	
	

    <!-- We use autowire using 'byName'' so, make sure 'id' of Address bean is name of class object of Address class in Student class -->
    <bean class="in.sp.beans.Address" id="address">
        <property name="houseNo" value = "385"></property>
        <property name="city" value = "Burhanpur"></property>
        <property name="pincode" value = "450331"></property>
    </bean>

    <bean class="in.sp.beans.Student" id="stuId" autowire="byName">
        <property name="name" value = "Harshal"></property>
        <property name="rollNo" value = "101"></property>
 <!--   <property name="address" ref = "addrId"></property>  We don't need to add manually DI' -->
    </bean>
 
 
 
    
    
    <!-- Use autowire attribute as a 'byType' = It checks the Bean created by the name of Address -->
    <!-- autowire-candidate insures this bean doesn't participate in autowiring 
    
    <bean class="in.sp.beans.Address" id="addrId">
        <property name="houseNo" value = "385"></property>
        <property name="city" value = "Burhanpur"></property>
        <property name="pincode" value = "450331"></property>
    </bean>
    
    <bean class="in.sp.beans.Address" id="addrId2" autowire-candidate="false"> 
        <property name="houseNo" value = "386"></property>
        <property name="city" value = "Delhi"></property>
        <property name="pincode" value = "352255"></property>
    </bean>

    <bean class="in.sp.beans.Student" id="stuId" autowire="byType"> 
        <property name="name" value = "Harshal"></property>
        <property name="rollNo" value = "101"></property>
    </bean>  
    
    
    
    
    -->



    <!-- Use autowire as a 'constructor'  
    <bean class="in.sp.beans.Address" id="addrId">
        <constructor-arg value="385"/>
        <constructor-arg value="Burhanpur"/>
        <constructor-arg value="450331"/>
    </bean>

    <bean class="in.sp.beans.Student" id="stuId" autowire="constructor">
        <constructor-arg value="Harshal" index="0"/>
        <constructor-arg value="101" index="1"/>
    </bean>
    
    
    -->

</beans>